.offering h1 {
    text-align: center;
    color: #1C2F58FC;
    margin-top: 50px;
}
 
.offering-p{
    color: #838696;
    width: 630px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}  

.box-container{
    background-color: #ECECFE;
    width: 350px;
    border-radius: 12px;
    height: 190px;
}

.box-size{
    width: 90%;
    margin: 0 auto;
    height: 190px;
    align-content: center;
}

.box-content{
    display: flex;
    align-items: center;
    gap: 15px;
}

.box-content h5{
    color: #1C2F58FC;
}

.box-p{
    padding-left: 50px;
    color: #000000;
    font-size: 13px;
}

.offering-container{
     width: 80%;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}