.testimonial-slider{
  background-color: #1C2F58FC;
  height: 400px;
  align-content:normal;
  margin-top: 80px;
}

.testimonial-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  margin-top: 30px;
  
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.testimonial-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.testimonial-arrows button {
  font-size: 22px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: #eee;
  border-radius: 5px;
  margin: 0 5px;
}

.testimonial-carousel {
  width: 88%;
  margin: 0 auto;
}


.testimonial-carousel .slick-slide {
  padding: 0 10px; /* horizontal spacing between cards */
}

.testimonial-carousel .slick-list {
  margin: 0 -10px; /* offset padding to avoid overflow */
}

.testimonial-image {
  border-radius: 50%;
}

.testimonial-card {
  width: 500px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 250px;
  align-content: center;
}

.testimonial-card:hover{
  background-color: #5454E8;
  color: #fff;
}

.testimonial-inner {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  
}

.top-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-section img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.name-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-title h3 {
  font-size: 18px;
  margin: 0;
}

.name-title .title {
  font-size: 14px;
  color: #777;

}

.testimonial-content {
  margin-top: 15px;
  font-size: 15px;
  color: #333;
  text-align: left;
}
